---

---

<nav class='bg-green-700 text-white'>
  <div
    class='max-w-screen-xl flex flex-wrap items-center justify-center md:justify-between mx-auto px-8 py-4'>
    <a
      href='/'
      class='flex items-center space-x-3 rtl:space-x-reverse'>
      <span
        class='self-center text-lg md:text-2xl font-semibold whitespace-nowrap'>
        <span class='text-indigo-200'>အပင်စိုက်နည်း</span>
        ထိန်းသိမ်းနည်း
      </span>
    </a>
  </div>
</nav>
